body {
    background-color: black;
}

header {
    color: black;
    border: 1px solid red;
    display: flex;
   align-items: center;
   justify-content: center;
    padding: 0% 20%;
    min-width: fit-content;
    min-height: fit-content;
}

.th {
    text-align: center;
    font-size: large;
    color: white;
}

.ST {
    color: red;
}

p {
    color: white;
    text-align: center;
    padding: 0px 100px;
    
}

h1 {
    color: red;
    font-weight: bold;
    text-align: center;
}


.st1, .st2, .st3, .st4, .st5 {
    display: list-item;
   text-align: center;
   justify-content: center;
   min-width: auto;
   min-height: auto;
}

button {
    border: 2px solid red;
    border-radius: 15%;
    background-color: red;
    
}

a {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.bt {
    display: flex;
    align-items: center;
    justify-content: center;
}
