body {
    background-color: black;
}

header {
    color: black;
    border: 1px solid red;
    display: flex;
    width: 100%;
    min-width: 40%;
    justify-content: center;
}

header img {
    display:flex;
    min-width: 30%;
   

}

.th {
    text-align: center;
    font-size: large;
    color: white;
}

.ST {
    color: red;
}

p {
    color: white;
    text-align: center;
    padding: 0px 100px;
    
}

h1 {
    color: red;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1425px;
    height: 3300px;
}



.st1, .st2, .st3, .st4, .st5 {
    display: flex;
    flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   min-width: 70%;
   width: 100%;

}

.st1 img {
    width: 55%;
}

.st2 img {
    width: 45%;
}

.st3 img {
    width: 55%;
}

.st4 img {
    width: 55%;
}

.text {
   justify-content: center;
    align-self: center;
    width: 80%;
    font-size:large;
    height: 150px;
    
}

button {
    border: 2px solid red;
    border-radius: 15%;
    background-color: red;
    
}

a {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.bt {
    display: flex;
    align-items: center;
    justify-content: center;
}

